@import "tailwindcss";

:root {
  --color-brand-background: #fff7f4;
  --color-brand-primary: #fde8e0;
  --color-brand-secondary: #ffc8b3;
  --color-brand-orange: #eb6223;
  --color-brand-button: #f5b7b1;
  --color-brand-navbar-text-active: #ffffff;
  --color-brand-navbar-text-inactive: #e88f8f;
  --color-brand-navbar-idle: #ffdcd5;
  --color-brand-navbar-active: #e88f8f;
}

@theme inline {
  --color-background: var(--color-brand-background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-karla);
  --font-alt: var(--font-urbanist);
}

body {
  color: var(--color-foreground);
  font-family: var(--font-sans), var(--font-alt);
}
