@import "tailwindcss";

@theme {
  --color-brand-background: #ffffff;
  --color-brand-primary:    #f8fafc;
  --color-brand-secondary:  #e2e8f0;
  --color-brand-orange:     #f97316;
  --color-brand-button:     #e2e8f0;

  --font-sans: var(--font-urbanist), ui-sans-serif, system-ui, -apple-system, "Segoe UI", Arial;
}

html, body, :root { height: 100%; }
