@import "tailwindcss";
@import "tw-animate-css";
/*---break---*/
@custom-variant dark (&:is(.dark *));

:root {
  --color-brand-background: #ffffff;
  --color-brand-primary: #ffdcd5;
  --color-brand-secondary: #fffbf0;
  --color-brand-tertiary: #eb6223;
  --color-brand-greenbutton: #d1f3a7;
  --color-brand-redbutton: #b71402;

  /*Text*/
  --color-foreground: #000000;

  /*Navbar*/
  --color-brand-navbar-text-active: #ffffff;
  --color-brand-navbar-text-inactive: #e88f8f;
  --color-brand-navbar-idle: #ffdcd5;
  --color-brand-navbar-active: #e88f8f;
}

@theme inline {
  --color-background: var(--color-brand-background);
  --color-foreground: var(--color-foreground);
  --font-alt: var(--font-urbanist);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-alt);
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

::selection {
  background: var(--color-brand-secondary);
  color: var(--color-foreground);
}
